# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Database
*.db

# Dataset Images
dataset/

# Trained Models
models/*.h5
models/*.onnx
models/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db